USE [QuanLyBanHang]
GO
/****** Object:  Table [dbo].[tblChatLieu]    Script Date: 11/18/2025 1:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChatLieu](
	[MaChatLieu] [int] IDENTITY(1,1) NOT NULL,
	[TenChatLieu] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChiTietHDBan]    Script Date: 11/18/2025 1:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHDBan](
	[MaHDBan] [int] NOT NULL,
	[MaHang] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[GiamGia] [decimal](5, 2) NULL,
	[ThanhTien]  AS (([SoLuong]*[DonGia])*((1)-isnull([GiamGia],(0))/(100.0))) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[MaHDBan] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHang]    Script Date: 11/18/2025 1:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHang](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](200) NOT NULL,
	[MaChatLieu] [int] NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaNhap] [decimal](18, 2) NULL,
	[DonVi] [nvarchar](50) NULL,
	[Anh] [varbinary](max) NULL,
	[GhiChu] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHDBan]    Script Date: 11/18/2025 1:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHDBan](
	[MaHDBan] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[MaKhach] [int] NULL,
	[NgayBan] [date] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhach]    Script Date: 11/18/2025 1:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhach](
	[MaKhach] [int] IDENTITY(1,1) NOT NULL,
	[TenKhach] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](300) NULL,
	[DienThoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 11/18/2025 1:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](150) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](300) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTaiKhoan]    Script Date: 11/18/2025 1:18:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[TenDangNhap] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[PhanQuyen] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblChatLieu] ON 

INSERT [dbo].[tblChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (1, N'Vải cotton')
INSERT [dbo].[tblChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (2, N'Da tổng hợp')
INSERT [dbo].[tblChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (3, N'Lụa tơ tằm')
SET IDENTITY_INSERT [dbo].[tblChatLieu] OFF
GO
INSERT [dbo].[tblChiTietHDBan] ([MaHDBan], [MaHang], [SoLuong], [DonGia], [GiamGia]) VALUES (1, 1, 2, CAST(90000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[tblChiTietHDBan] ([MaHDBan], [MaHang], [SoLuong], [DonGia], [GiamGia]) VALUES (1, 3, 1, CAST(900000.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[tblChiTietHDBan] ([MaHDBan], [MaHang], [SoLuong], [DonGia], [GiamGia]) VALUES (2, 2, 1, CAST(150000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[tblHang] ON 

INSERT [dbo].[tblHang] ([MaHang], [TenHang], [MaChatLieu], [SoLuong], [DonGiaNhap], [DonVi], [Anh], [GhiChu]) VALUES (1, N'Áo thun nam', 1, 120, CAST(45000.00 AS Decimal(18, 2)), N'Cái', NULL, N'Màu trắng')
INSERT [dbo].[tblHang] ([MaHang], [TenHang], [MaChatLieu], [SoLuong], [DonGiaNhap], [DonVi], [Anh], [GhiChu]) VALUES (2, N'Váy lụa cao cấp', 4, 30, CAST(450000.00 AS Decimal(18, 2)), N'Cái', NULL, N'Màu hồng pastel')
INSERT [dbo].[tblHang] ([MaHang], [TenHang], [MaChatLieu], [SoLuong], [DonGiaNhap], [DonVi], [Anh], [GhiChu]) VALUES (3, N'Áo sơ mi Denim', 12, 80, CAST(180000.00 AS Decimal(18, 2)), N'Cái', NULL, N'Form rộng')
SET IDENTITY_INSERT [dbo].[tblHang] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHDBan] ON 

INSERT [dbo].[tblHDBan] ([MaHDBan], [MaNhanVien], [MaKhach], [NgayBan], [TongTien]) VALUES (1, 1, 1, CAST(N'2025-10-01' AS Date), CAST(1035000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblHDBan] ([MaHDBan], [MaNhanVien], [MaKhach], [NgayBan], [TongTien]) VALUES (2, 2, 2, CAST(N'2025-10-02' AS Date), CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblHDBan] ([MaHDBan], [MaNhanVien], [MaKhach], [NgayBan], [TongTien]) VALUES (3, 3, 3, CAST(N'2025-10-03' AS Date), CAST(1203750.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tblHDBan] OFF
GO
SET IDENTITY_INSERT [dbo].[tblKhach] ON 

INSERT [dbo].[tblKhach] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (1, N'Công ty TNHH An Giang', N'Hà Nội', N'024123456')
INSERT [dbo].[tblKhach] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (2, N'Nguyễn Văn Cảnh', N'HCM', N'0900111222')
INSERT [dbo].[tblKhach] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (3, N'Nguyễn Văn Thạnh', N'Hà Nội', N'0901230000')
SET IDENTITY_INSERT [dbo].[tblKhach] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNhanVien] ON 

INSERT [dbo].[tblNhanVien] ([MaNhanVien], [TenNhanVien], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh]) VALUES (1, N'Lê Tuấn Anh', N'Nam', N'An Giang', N'0334056255', CAST(N'2005-01-27' AS Date))
INSERT [dbo].[tblNhanVien] ([MaNhanVien], [TenNhanVien], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh]) VALUES (2, N'Trần Vũ Duy', N'Nam', N'An Giang', N'0987654321', CAST(N'1992-06-20' AS Date))
INSERT [dbo].[tblNhanVien] ([MaNhanVien], [TenNhanVien], [GioiTinh], [DiaChi], [DienThoai], [NgaySinh]) VALUES (3, N'Nguyễn Thị Hồng', N'Nữ', N'Cần Thơ', N'0912345678', CAST(N'1995-11-15' AS Date))
SET IDENTITY_INSERT [dbo].[tblNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTaiKhoan] ON 

INSERT [dbo].[tblTaiKhoan] ([MaTK], [MaNhanVien], [TenDangNhap], [MatKhau], [PhanQuyen], [TrangThai]) VALUES (1, 1, N'admin', N'admin123', 0, 1)
INSERT [dbo].[tblTaiKhoan] ([MaTK], [MaNhanVien], [TenDangNhap], [MatKhau], [PhanQuyen], [TrangThai]) VALUES (2, 2, N'quanly', N'quanly123', 1, 1)
INSERT [dbo].[tblTaiKhoan] ([MaTK], [MaNhanVien], [TenDangNhap], [MatKhau], [PhanQuyen], [TrangThai]) VALUES (3, 8, N'nhanvien', N'nhanvien123', 2, 1)
SET IDENTITY_INSERT [dbo].[tblTaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblTaiKh__55F68FC0FD78427B]    Script Date: 11/18/2025 1:18:51 PM ******/
ALTER TABLE [dbo].[tblTaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblChiTietHDBan] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[tblChiTietHDBan] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[tblHang] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[tblHDBan] ADD  DEFAULT (getdate()) FOR [NgayBan]
GO
ALTER TABLE [dbo].[tblHDBan] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[tblTaiKhoan] ADD  DEFAULT ((0)) FOR [PhanQuyen]
GO
ALTER TABLE [dbo].[tblTaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[tblChiTietHDBan]  WITH CHECK ADD  CONSTRAINT [FK_CTHDBan_Hang] FOREIGN KEY([MaHang])
REFERENCES [dbo].[tblHang] ([MaHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHDBan] CHECK CONSTRAINT [FK_CTHDBan_Hang]
GO
ALTER TABLE [dbo].[tblChiTietHDBan]  WITH CHECK ADD  CONSTRAINT [FK_CTHDBan_HDBan] FOREIGN KEY([MaHDBan])
REFERENCES [dbo].[tblHDBan] ([MaHDBan])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHDBan] CHECK CONSTRAINT [FK_CTHDBan_HDBan]
GO
ALTER TABLE [dbo].[tblHang]  WITH CHECK ADD  CONSTRAINT [FK_Hang_ChatLieu] FOREIGN KEY([MaChatLieu])
REFERENCES [dbo].[tblChatLieu] ([MaChatLieu])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblHang] CHECK CONSTRAINT [FK_Hang_ChatLieu]
GO
ALTER TABLE [dbo].[tblHDBan]  WITH CHECK ADD  CONSTRAINT [FK_HDBan_Khach] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[tblKhach] ([MaKhach])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblHDBan] CHECK CONSTRAINT [FK_HDBan_Khach]
GO
ALTER TABLE [dbo].[tblHDBan]  WITH CHECK ADD  CONSTRAINT [FK_HDBan_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[tblNhanVien] ([MaNhanVien])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tblHDBan] CHECK CONSTRAINT [FK_HDBan_NhanVien]
GO
ALTER TABLE [dbo].[tblTaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[tblNhanVien] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblTaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
